<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Marketing, Automation & Email Platform | Mailchimp</title>
    <link rel="stylesheet" href="/static/style.css">

</head>
<body>
    <div class="home_top">
        <p>Save 75% for 12 months - limited time offer. <a href="#">Get started today</a></p>
    </div>

    <header>
            <div>
                    <nav>
                        <li>Products</li>
                        <li>Resources</li>
                        <li>Inspiration</li>
                        <li>Pricing</li>
                    </nav>
            </div>

            <div>
                <div><img src="/static/assets/mailchimp.png" alt="logo"></div>
                <div><a href="#"><p>Sales:<br> +1 (800) 315-5939</p></a></div>
            </div>

            <div>
                <div> <img src="/static/assets/search-icon-png-9969.png" alt="search-logo"> </div>

                <button class="button-74 ">Log In</button>
                <button class="button-74 bgc">Sign Up</button>

            </div>
    </header>

    <div class="ads">
            <h1>Turn Emails into Revenue</h1>
            <p>Win new customers with the #1 email marketing and<br>automations brand* that recommends ways to get more opens,<br> clicks and sales.</p>
            <button class="button-74 bgc">Sign Up</button>
    </div>

    <button class="fb_sign">Facebook</button>
    <button> <img src="" alt="message_sign">  Chat with us</button>

</body>
</html>