<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Marketing, Automation & Email Platform | Mailchimp</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="shortcut icon" href="/static/assets/favicon.jpg" type="image/x-icon">

</head>
<body>
    <div class="home_top">
        <p>Save 75% for 12 months - limited time offer. <a href="#">Get started today</a></p>
    </div>

    <header>
            <div>
                    <nav>
                        <li>Products</li>
                        <li>Resources</li>
                        <li>Inspiration</li>
                        <li>Pricing</li>
                    </nav>
            </div>

            <div>
                <div><img src="/static/assets/mailchimp.png" alt="logo"></div>
                <div><a href="#"><p>Sales:<br> +1 (800) 315-5939</p></a></div>
            </div>

            <div>
                <div> <img src="/static/assets/search-icon-png-9969.png" alt="search-logo"> </div>

                <button class="button-74 ">Log In</button>
                <button class="button-74 bgc">Sign Up</button>

            </div>
    </header>

    <div class="ads">
            <h1>Turn Emails into Revenue</h1>
            <p>Win new customers with the #1 email marketing and<br>automations brand* that recommends ways to get more opens,<br> clicks and sales.</p>
            <button class="button-74 bgc">Sign Up</button>
    </div>

    <button class="fb_sign">Facebook</button>
    <button class="chat" title="chat with bot">
         <svg viewBox="10 6 40 40" fill="none" xmlns="http://www.w3.org/2000/svg" class="chat_icon">
            <g id="DialogueNew" fill="currentColor">
                <path d="M29.9996 39.3369H29.9996C28.9494 39.3228 27.9027 39.2117 26.873 39.0048C26.3867 38.9217 25.8882 39.0509 25.5034 39.3597C23.5353 40.8057 21.2244 41.714 18.7985 41.9951C18.3992 42.037 18.0415 41.7472 17.9997 41.3478C17.9817 41.1769 18.0249 41.0053 18.1214 40.8632H18.1214C19.059 39.6954 19.7322 38.3381 20.0947 36.885C20.1678 36.4882 20.0128 36.0839 19.6931 35.8378C16.1547 33.2089 14.0485 29.0767 14 24.6684C14 16.5773 21.1633 10 29.9996 10C38.8359 10 45.9992 16.5773 45.9992 24.6684C45.9992 32.7596 38.8361 39.3369 29.9996 39.3369H29.9996Z"></path>
                </g>
         </svg>  Chat with us</button>

         <section class="cards">

                <div>
                    <div>
                        <a href="#"><p>Convert with Automations</p></a>
                    </div>

                    <div>
                        <p>Send the right message at the right time to convert more customers.</p>

                        <button class="button-74">Start Converting</button>
                    </div>

                </div>

                
                <div>
                    <div>
                        <a href="#"><p>Optimize with AI & Analytics</p></a>
                    </div>

                    <div>
                        <p>Get AI-assisted suggestions to help make your content more engaging.</p>

                        <button class="button-74">Start Optimizing</button>
                    </div>

                </div>

                
                <div>
                    <div>
                        <a href="#"><p>Target with Segmentation</p></a>
                    </div>

                    <div>
                        <p>Boost customer loyalty by predicting the right ones to target.</p>

                        <button class="button-74">Start Targeting</button>
                    </div>

                </div>

                
                <div>
                    <div>
                        <a href="#"><p>Sync with Integrations</p></a>
                    </div>

                    <div>
                        <p>Connect more tools, get more data, save time and make better decisions.</p>
        
                        <button class="button-74">Start Syncing</button>
            
                    </div>
                </div>

         </section>

         <section class="offer_box">

             <div class="offer_ad">
                <p>Limited Time Offer</p>
                <h1>Save <span>75%</span> for 12 months</h1>
             </div>

             <div class="plan_holder">

                    <div>
                        <div>
                    
                            <h3 class="title">Premium</h3>
                            <p class="desc" style="height: 49px;">Our most advanced tools,<br> unlimited contacts, and priority<br> support; built for teams.</p>
                    
                            <div class="plan_desc" style="height: 135px;">

                                    <p>Starts at</p>              
                                    <div>
                                        <s>₹23,000</s>
                                    </div>
                            
                                    <div class="check">
                                        <div><p>₹</p></div><div><h1>5,750</h1></div>
                                    </div>
                            
                                        <p>/month for 12 months based on 10,000 contacts*</p>
                            </div>
                        </div>
                    
                        <ul>
                                <li class="checkmark" style="height: 38px;"> Phone & Priority Support</li>
                                
                                <li class="checkmark" style="height: 60px;">Custom-Coded and Pre-built Email Templates</li>
                               
                                <li class="checkmark" style="height: 38px;">Multivariate and A/B Testing</li>
                                
                                <li class="checkmark" style="height: 60px;">Enhanced Automated Customer Journeys</li>
                             
                                <li class="checkmark" style="height: 60px;">Dedicated Personalized Onboarding</li>
                          
                                <li class="checkmark" style="height: 38px;">Predictive Segmentation</li>
                              
                                <li class="checkmark" style="height: 37px; border: none;">Campaign Manager</li>
                        </ul>            
                        
                    </div>

                    <div >

                        <div class="rec">
                            Mailchimp Recommends
                        </div>

                        <div>
                    
                            <h3 class="title">Standard</h3>
                            <p class="desc" style="height: 49px;">Sell even more with<br> personalization, optimization tools,<br> and enhanced automations.</p>
                    
                            <div class="plan_desc" style="height: 135px;">

                                    <p>Starts at</p>              
                                    <div>
                                        <s>₹1,150</s>
                                    </div>
                            
                                    <div class="check">
                                        <div><p>₹</p></div>
                                        <div><h1>287</h1></div>
                                        <div><p>.50</p></div>
                                    </div>
                            
                                        <p>/month for 12 months based on 500 contacts*</p>
                            </div>
                        </div>
                    
                        <ul>
                                <li class="checkmark" style="height: 38px;"> 24/7 Email & Chat Support</li>
                                
                                <li class="checkmark" style="height: 60px;">Custom-Coded and Pre-built Email Templates</li>
                               
                                <li class="checkmark" style="height: 38px;">A/B Testing</li>
                                
                                <li class="checkmark" style="height: 60px;">Enhanced Automated Customer Journeys</li>
                             
                                <li class="checkmark" style="height: 60px;">Personalized Onboarding</li>
                          
                                <li class="checkmark" style="height: 38px;">Predictive Segmentation</li>
                              
                                <li class="checkmark" style="height: 37px; border: none;">Campaign Manager</li>
                        </ul>            
                        
                    </div>

                    <div>
                        <div>
                    
                            <h3 class="title">Essentials</h3>
                            <p class="desc" style="height: 49px;">Send the right content at the right<br> time with testing and scheduling<br> features.</p>
                    
                            <div class="plan_desc" style="height: 135px;">

                                    <p>Starts at</p>              
                                    <div>
                                        <s>₹770</s>
                                    </div>
                            
                                    <div class="check">
                                        <div><p>₹</p></div>
                                        <div><h1>192</h1></div>
                                        <div><p>.50</p></div>
                                    </div>
                            
                                        <p>/month for 12 months based on 500 contacts*</p>
                            </div>
                        </div>
                    
                        <ul>
                                <li class="checkmark" style="height: 38px;"> 24/7 Email & Chat Support</li>
                                
                                <li class="checkmark" style="height: 60px;">Pre-built Email Templates</li>
                               
                                <li class="checkmark" style="height: 38px;">A/B Testing</li>
                                
                                <li class="checkmark" style="height: 60px;">Basic Automated Customer Journeys</li>
                             
                                <li class="checkmark" style="height: 60px;">Personalized Onboarding</li>
                          
                                <li class="cross" id="blur" style="height: 38px;">Predictive Segmentation</li>
                              
                                <li class="cross" id="blur" style="height: 37px; border: none;">Campaign Manager</li>
                        </ul>            
                        
                    </div>


                    <div>
                        <div>
                    
                            <h3 class="title">Free</h3>
                            <p class="desc" style="height: 49px;">Easily create email campaigns and learn more about your customers.</p>
                    
                            <div class="plan_desc" style="height: 135px; justify-content:flex-end; padding-bottom: 10px;">

                                    <div class="check" >
                                        <div><p>₹</p></div><div><h1>O</h1></div>
                                    </div>
                            
                                        <p>/month based on 500 contacts*</p>
                            </div>
                        </div>
                    
                        <ul>
                                <li class="checkmark" style="height: 38px;"> Email support for first 30 days</li>
                                
                                <li class="checkmark" style="height: 60px;">Pre-built Email Templates</li>
                               
                                <li class="cross" id="blur" style="height: 38px;">A/B Testing</li>
                                
                                <li class="cross" id="blur" style="height: 60px;">Basic Automated Customer Journeys</li>
                             
                                <li class="cross" id="blur" style="height: 60px;">Onboarding</li>
                          
                                <li class="cross" id="blur" style="height: 38px;">Predictive Segmentation</li>
                              
                                <li class="cross" id="blur" style="height: 37px; border: none;">Campaign Manager</li>
                        </ul>            
                        
                    </div>
                </div> 
                
                <div>
                    <p>*See <span>Offer Terms</span>. <span>Overages</span> apply if contact or email send limit is exceeded. Free plan sending will be paused if contact or email send limit is exceeded. <span>Learn more</span></p>

                    <button class="button-74 bgc" style="width: fit-content; text-align: center;">See all plan details</button>
                </div>
         
         </section>


         <div class="mkt">
            <div class="mkt_1">
                                <h3 class="h3">Drive more repeat business with marketing automations</h3>
                                
                                   <p>Customer Journey Builder automations generated up to <br> 4x more orders for Essentials Plan users with connected stores than bulk emails.*</p>

                                <div class="btn_sta">
                                        <a class="start_btn" href="#" aria-label="Start automating">
                                            Start automating    
                                        </a>
                                 </div>          
                    
            </div>

            <div class="img_holder">
                                <img class="image animate--show" data-animate="fade-up-in" loading="lazy" alt="" width="1240" height="820" src="https://eep.io/images/yzco4xsimv0y/4yNdXpHp8YNq8brNoWIkPG/e78d5be54a89220df36cde3f23e7ec04/Guesswork-Customer-Journey-Builder.png?w=1280&fm=webp&q=70"></img>                 
                   </div>
        </div>

        <div class="mkt" style="background-color: #e7b75f; padding: 75px 58.4838px; margin: 0px; width: auto;">

            <div class="img_holder">
                                <img class="image animate--show" data-animate="fade-up-in" loading="lazy" alt="" width="1240" height="820" src="https://eep.io/images/yzco4xsimv0y/26h1rMWcib36EZ2UDeBORY/b551de097441907656d87c73ca2dd699/Guesswork-Content-Optimizer.png?w=1280&fm=webp&q=70"></img>                 
            </div>
            <div class="mkt_2">

                            <h3 class="h3">Keep customers ready to buy with optimized content</h3>
                        
                            <p>Content Optimizer analyzes an average of 20 million data points to offer personalized suggestions for each email.*</p>
    
                    
                            <div class="btn_sta">
                                    <a class="start_btn" href="#" aria-label="Start automating">
                                        Start optimizing    
                                    </a>
                            </div>                                           
                    
            </div>

        </div>

        <div class="mkt">
            <div class="mkt_1">
                                <h3 class="h3">Identify and target your most valuable customers</h3>
                                
                                   <p>Marketers saw up to 88% more revenue from their <br> connected stores when they used Customer Lifetime <br> Value and Likelihood to Purchase Segments with their <br> emails than when they didn't.*</p>

                                <div class="btn_sta place">
                                        <a class="start_btn" href="#" aria-label="Start automating">
                                            Start automating    
                                        </a>
                                 </div>          
                    
            </div>

            <div class="img_holder">
                                <img class="image animate--show" data-animate="fade-up-in" loading="lazy" alt="" width="1240" height="820" src="https://eep.io/images/yzco4xsimv0y/5W2Af3BfPJakzRV5RFQPhX/8e801a5d650bc091dca9f3e2c92e3162/Guesswork-Customer-Profile.png?w=1280&fm=webp&q=70"></img>                 
                   </div>
        </div>
</body>
</html>