<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Marketing, Automation & Email Platform | Mailchimp</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="home_top">
        <p>Save 75% for 12 months - limited time offer. <a href="">Get started today</a></p>
    </div>
</body>
</html>