<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login | Mailchimp</title>
    <link rel="shortcut icon" href="/static/assets/favicon.jpg" type="image/x-icon">
    <link rel="stylesheet" href="/static/login.css">
</head>
<body>
    <header>
        <div>
            <img src="https://login.mailchimp.com/release/1.1.1c43cd191d25e8847ac900bf929d832a5d8d828b7/images/brand_assets/logos/mc-freddie-dark.svg" alt="logo">
        </div>

        <div>
            <img src="https://login.mailchimp.com/release/1.1.1c43cd191d25e8847ac900bf929d832a5d8d828b7/images/globe.svg" alt="earth_logo">
            <div>
                <select name="lang">
                    <option value="enlgish">English</option>
                    <option value="enlgish">Hindi</option>
                    <option value="enlgish">Russian</option>
                </select>
            </div>
        </div>
    </header>

    <button class="fb_sign">Facebook</button>

    <section class="main">
        <div>
                <div>

                    <h1>Log in</h1>
                    <p>Need a Mailchimp account? <a href="/home/sign_up">Create an account</a></p>

                </div>
                <form action="" method="Get">
                    <label for="username">Username or Email</label>
                    <input type="text" name="username" id="username"><br>

                    <label for="password">Password</label>
                </form>
        </div>
    </section>
</body>
</html>