<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login | Mailchimp</title>
    <link rel="shortcut icon" href="/static/assets/favicon.jpg" type="image/x-icon">
    <link rel="stylesheet" href="/static/login.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <header>
        <div>
            <img src="https://login.mailchimp.com/release/1.1.1c43cd191d25e8847ac900bf929d832a5d8d828b7/images/brand_assets/logos/mc-freddie-dark.svg" alt="logo">
        </div>

        <div>
            <img src="https://login.mailchimp.com/release/1.1.1c43cd191d25e8847ac900bf929d832a5d8d828b7/images/globe.svg" alt="earth_logo">
            <div>
                <select name="lang">
                    <option value="enlgish">English</option>
                    <option value="enlgish">Hindi</option>
                    <option value="enlgish">Russian</option>
                </select>
            </div>
        </div>
    </header>

    <button class="fb_sign">Facebook</button>

    <section class="main">
        <div>
                <div>

                    <h1>Log in</h1>
                    <p>Need a Mailchimp account? <a href="/home/sign_up">Create an account</a></p>

                </div>
                <form action="" method="Get">
                    <label for="username">Username or Email</label>
                    <input type="text" name="username" id="username"><br>

                    <div>
                         <div>
                             <label for="password">Password</label>
                         </div>

                         <div>
                            <i class="fa fa-eye" style="font-size:18px"></i>
                            <p class="password_show">Show</p>
                         </div>
                    </div>

                    <input type="password" id="password" name="password">

                    <label for="stay_signed_in" class="check_box">
                        <input type="checkbox" id="stay_signed_in">
                        Keep me logged in
                    </label>
    
                    <button type="submit" class="login">Log in</button>
                </form>

                

                <div class="forgot">
                    <div><p><a href="#">Forgot username?</a></p></div>
                    <div><p><a href="#">Forgot password?</a></p></div>
                </div>
                
                <div><p><a href="#">Can't log in?</a></p></div>
        </div>
    </section>
</body>
</html>