<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login | Mailchimp</title>
    <link rel="shortcut icon" href="/static/assets/favicon.jpg" type="image/x-icon">
    <link rel="stylesheet" href="/static/login.css">
</head>
<body>
    <header>
        <div>
            <img src="" alt="">
        </div>

        <div>
            <img src="" alt="">
            <div>
                <select name="lang">
                    <option value="enlgish">English</option>
                    <option value="enlgish">Hindi</option>
                    <option value="enlgish">Russian</option>
                </select>
            </div>
        </div>
    </header>
</body>
</html>