* {
    padding: 0; margin: 0;
    box-sizing: border-box;
}

body {
    background: #fff;
    line-height: 1.35;
    color: #403b3b;
    font-family: Graphik Web,Helvetica Neue,Helvetica,Arial,Verdana,sans-serif;
}

.home_top {
    background-color: #241c15;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 14px;
    position: sticky;
    top: 0;
}

@font-face {
    font-family: Means Web;
    src: url(/release/plums/cxp/fonts/Means-Light-Web.7121f5d6.1.woff2) format("woff"),url(/release/plums/cxp/fonts/Means-Light-Web.7b66930b.1.woff) format("woff");
    font-weight: 300;
    font-style: normal;
    font-display: fallback
}

@font-face {
    font-family: Means Web;
    src: url(/release/plums/cxp/fonts/Means-LightItalic-Web.d23096b9.1.woff2) format("woff"),url(/release/plums/cxp/fonts/Means-LightItalic-Web.e4b7d57d.1.woff) format("woff");
    font-weight: 300;
    font-style: italic;
    font-display: fallback
}

@font-face {
    font-family: Means Web;
    src: url(/release/plums/cxp/fonts/Means-Regular-Web.c14e83d3.1.woff2) format("woff"),url(/release/plums/cxp/fonts/Means-Regular-Web.19503511.1.woff) format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: fallback
}

@font-face {
    font-family: Means Web;
    src: url(/release/plums/cxp/fonts/Means-RegularItalic-Web.6fb4c9c3.1.woff2) format("woff"),url(/release/plums/cxp/fonts/Means-RegularItalic-Web.5c0ff13e.1.woff) format("woff");
    font-weight: 400;
    font-style: italic;
    font-display: fallback
}

@font-face {
    font-family: Means Web;
    src: url(/release/plums/cxp/fonts/Means-Medium-Web.a76a7592.1.woff2) format("woff"),url(/release/plums/cxp/fonts/Means-Medium-Web.4a025173.1.woff) format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: fallback
}

@font-face {
    font-family: Means Web;
    src: url(/release/plums/cxp/fonts/Means-MediumItalic-Web.2755a66a.1.woff2) format("woff"),url(/release/plums/cxp/fonts/Means-MediumItalic-Web.952bdb09.1.woff) format("woff");
    font-weight: 500;
    font-style: italic;
    font-display: fallback
}

@font-face {
    font-family: Graphik Web;
    src: url(/release/plums/cxp/fonts/Graphik-Light-Web.6a7c53f1.1.eot);
    src: url(/release/plums/cxp/fonts/Graphik-Light-Web.6a7c53f1.1.eot?#iefix) format("embedded-opentype"),url(/release/plums/cxp/fonts/Graphik-Light-Web.0b54523d.1.woff2) format("woff"),url(/release/plums/cxp/fonts/Graphik-Light-Web.9ad2c663.1.woff) format("woff");
    font-weight: 300;
    font-style: normal;
    font-display: fallback
}

@font-face {
    font-family: Graphik Web;
    src: url(/release/plums/cxp/fonts/Graphik-LightItalic-Web.c60d0043.1.eot);
    src: url(/release/plums/cxp/fonts/Graphik-LightItalic-Web.c60d0043.1.eot?#iefix) format("embedded-opentype"),url(/release/plums/cxp/fonts/Graphik-LightItalic-Web.fd32efb2.1.woff2) format("woff"),url(/release/plums/cxp/fonts/Graphik-LightItalic-Web.0eefd738.1.woff) format("woff");
    font-weight: 300;
    font-style: italic;
    font-display: fallback
}

@font-face {
    font-family: Graphik Web;
    src: url(/release/plums/cxp/fonts/Graphik-Regular-Web.e5afc5f9.1.eot);
    src: url(/release/plums/cxp/fonts/Graphik-Regular-Web.e5afc5f9.1.eot?#iefix) format("embedded-opentype"),url(/release/plums/cxp/fonts/Graphik-Regular-Web.11b60cc4.1.woff2) format("woff"),url(/release/plums/cxp/fonts/Graphik-Regular-Web.9679fdfa.1.woff) format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: fallback
}

@font-face {
    font-family: Graphik Web;
    src: url(/release/plums/cxp/fonts/Graphik-RegularItalic-Web.72e39697.1.eot);
    src: url(/release/plums/cxp/fonts/Graphik-RegularItalic-Web.72e39697.1.eot?#iefix) format("embedded-opentype"),url(/release/plums/cxp/fonts/Graphik-RegularItalic-Web.938f7e9b.1.woff2) format("woff"),url(/release/plums/cxp/fonts/Graphik-RegularItalic-Web.1525fec5.1.woff) format("woff");
    font-weight: 400;
    font-style: italic;
    font-display: fallback
}

@font-face {
    font-family: Graphik Web;
    src: url(/release/plums/cxp/fonts/Graphik-Medium-Web.f5fa5a17.1.eot);
    src: url(/release/plums/cxp/fonts/Graphik-Medium-Web.f5fa5a17.1.eot?#iefix) format("embedded-opentype"),url(/release/plums/cxp/fonts/Graphik-Medium-Web.dcadfa4d.1.woff2) format("woff"),url(/release/plums/cxp/fonts/Graphik-Medium-Web.55b8d8ba.1.woff) format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: fallback
}

@font-face {
    font-family: Graphik Web;
    src: url(/release/plums/cxp/fonts/Graphik-MediumItalic-Web.d37c61c9.1.eot);
    src: url(/release/plums/cxp/fonts/Graphik-MediumItalic-Web.d37c61c9.1.eot?#iefix) format("embedded-opentype"),url(/release/plums/cxp/fonts/Graphik-MediumItalic-Web.b82b5b7c.1.woff2) format("woff"),url(/release/plums/cxp/fonts/Graphik-MediumItalic-Web.b2af558e.1.woff) format("woff");
    font-weight: 500;
    font-style: italic;
    font-display: fallback
}

@font-face {
    font-family: Graphik Web;
    src: url(/release/plums/cxp/fonts/Graphik-Semibold-Web.1b0e6ecc.1.eot);
    src: url(/release/plums/cxp/fonts/Graphik-Semibold-Web.1b0e6ecc.1.eot?#iefix) format("embedded-opentype"),url(/release/plums/cxp/fonts/Graphik-Semibold-Web.1755daa6.1.woff2) format("woff"),url(/release/plums/cxp/fonts/Graphik-Semibold-Web.78e500d0.1.woff) format("woff");
    font-weight: 600;
    font-style: normal;
    font-display: fallback
}

@font-face {
    font-family: Graphik Web;
    src: url(/release/plums/cxp/fonts/Graphik-SemiboldItalic-Web.f1b91ff9.1.eot);
    src: url(/release/plums/cxp/fonts/Graphik-SemiboldItalic-Web.f1b91ff9.1.eot?#iefix) format("embedded-opentype"),url(/release/plums/cxp/fonts/Graphik-SemiboldItalic-Web.a2b5be63.1.woff2) format("woff"),url(/release/plums/cxp/fonts/Graphik-SemiboldItalic-Web.52dc001c.1.woff) format("woff");
    font-weight: 600;
    font-style: italic;
    font-display: fallback
}

.home_top a {
    color: white;
    border-bottom-style: dashed;
    text-decoration: none;
}

.home_top p {
    font-size: 13.5px;
    font-weight: 500;
    line-height: 17.55px;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 30px;
    position: fixed;
    width: 100%;
    background-color: #fff;
}

header>div:nth-child(1){
    width: 44%;
}

header nav {
    display: flex;
    align-items: center;
}

header nav li {
    list-style: none;
    padding: 12px 18px;
    font-size: 13.3157px;
    font-weight: 550;
    cursor: pointer;

}

header div img[alt='logo'] {
    width: 105px;
}

header>div:nth-child(2){
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 30%;
    padding-right: 35px;
}

header>div:nth-child(2) a{
    text-decoration: none;
}


header>div:nth-child(2) a:hover, header>div:nth-child(2) p:hover, header nav li:hover{
    color: rgb(0, 124, 137);
    text-decoration:underline;
}

header>div:nth-child(2) a p{
    text-align: right;
    color: black;
    font-size: 13px;
    font-weight: 500;
    line-height: 19.5px;
}

header>div:nth-child(3){
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
    width: 28%;
    padding: 0px 15px;

}

header>div:nth-child(3) img{
    width: 23px;
    cursor: pointer;
}

/* CSS */
.button-74 {
  background-color: white;
  border: 1.2px solid rgb(36, 28, 21);
  border-radius: 25px;
  color :rgb(36, 28, 21);
  cursor: pointer;
  display: inline-block;
  font-weight: 500;
  font-size: 13px;
  padding: 13px 24px;
  text-align: center;
  text-decoration: none;
  touch-action: manipulation;
  transition: box-shadow 0.2s;
  cursor: pointer;

}

.button-74:hover {
  position: relative;
  animation: btn 0.2s 0s linear forwards;
}

@keyframes btn{
    0%{
        top:-1px;   
        box-shadow: #422800 0px 1px 0 0;
    }
    25%{
        top:-2px;   
        box-shadow: #422800 0px 2px 0 0;
    }
    40%{
        top:-3px;   
        box-shadow: #422800 0px 3px 0 0;
    }
    55%{
        top:-4px;   
        box-shadow: #422800 0px 4px 0 0;
    }
    75%{
        top: -6.5px;
        box-shadow: #422800 0px 6.5px 0 0;
    }
    100%{
        top:-4px;
        box-shadow: #422800 0px 4px 0 0;   
    }
}

.button-74:active {
  box-shadow: #422800 2px 2px 0 0;
  transform: translate(2px, 2px);
}

.bgc{
    background-color: rgb(255, 224, 27);
}

.ads{
    width: 100%;
    padding: 50px;
    margin-top: 100px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.ads h1{
    color: rgb(36, 28, 21);
    font-family: "Means Web", Georgia, Times, "Times New Roman", serif;
    font-size : 42px;
    font-variant-ligatures: none;
    font-weight: 550;
    height: 42.7083px;
    letter-spacing: -1px;
    line-height :42.7067px;
}

.ads p{
    color :rgb(36, 28, 21);
    font-family: "Graphik Web", "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;
    font-size :25px;
    font-weight: 400;
    height: 95.9896px;
    letter-spacing: -0.32px;
    line-height: 32px;
    margin-block-start :16px;
    margin-top :16px;
}

.ads button{
    margin-top: 40px;
}

.fb_sign {
    padding: 12px 10px;
    transform: rotate(-90deg);
    position: fixed;
    top: 300px;
    right: -20px;
    border: none;
    font-size: 12px;
    font-weight: 400;
    cursor: pointer;
}   

.chat{
    background-color:#241c15;
    color: white;
    padding: 0px 13px;
    display: flex;
    align-items: center;
    box-shadow: #0000001f 0px 4px 20px 4px;
    border-radius: 42px;
    font-family :Arial;
    font-size: 15.5px;
    font-weight :700;
    font-stretch :100%;
    height: 43.9988px;
    justify-content :flex-start;
    column-gap :8px;
    row-gap :8px;
    position: fixed;
    right: 24px;
    bottom: 24px;
    height: 43.9988px;
    cursor: pointer;
}

.chat_icon{
    height: 22px;
    width: 22px;
    padding: 0;
    top: -1px;
    cursor: pointer;
}

.cards{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    height: 630px;
    color :rgb(36, 28, 21);
}

.cards button{
    background-color: transparent;
}

.cards>div:nth-child(1){
    background-color: rgb(217, 149, 54);
}

.cards>div:nth-child(2){
    background-color :rgb(231, 183, 95);
}
.cards>div:nth-child(3){
    background-color :rgb(253, 248, 234);
}

.cards>div>div p{
    display :block;
    font-family: "Graphik Web", "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;
    font-size: 17.4px;
    font-weight: 400;
    height: 83.9931px;
    line-height: 28px;
}

.cards>div>div:nth-child(2){
    display :flex;
    flex-basis :auto;
    flex-direction: column;
    flex-grow :1;
    flex-shrink: 1;
    flex-wrap :nowrap;
    font-family: "Graphik Web", "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;
    font-size: 16px;
    font-weight: 400;
    height: 151.481px;
    justify-content: space-between;
    line-height: 28px;
    align-items: flex-start;
    height: 29.5%;
    padding: 16px;
}

.cards>div{
    height: 100%;
}

.cards>div>div:nth-child(1){
    height: 70.5%;
    padding: 16px;
}

.cards>div>div:nth-child(1) p{
    color :rgb(36, 28, 21);
    cursor :pointer;
    font-family :"Means Web", Georgia, Times, "Times New Roman", serif;
    font-size :26.6917px;
    font-weight: 500;
    font-variant-ligatures: none;
    height :0.9954px;
    letter-spacing: normal;
    line-height: 35.5889px;
}

.cards>div>div:nth-child(1) a{
    text-decoration: none;
}

.cards>div>div:nth-child(1):hover{
    text-decoration: underline black;
}

.cards>div>div:nth-child(1):hover{
    cursor: pointer;
}

.cards>div:nth-child(1)>div:nth-child(1){
    background: url('https://eep.io/images/yzco4xsimv0y/33f3mgIWbzKjIpIRJi2f5v/6bd36bba38b7f6a94d587605ab9a7d75/Desktop_Feature_Cards_1_Automations.jpeg?w=1260&fm=webp&q=70');
    background-position: center;
    background-size: 100% 100%;
    transition: background-size .3s ease;
}

.cards>div:nth-child(2)>div:nth-child(1){
    background: url('https://eep.io/images/yzco4xsimv0y/4s3qFNXy6GRaIPogjmSrVz/a1064b57d8607998b69101644637f845/Desktop_Feature_Cards_2_Analytics.png?w=1260&fm=webp&q=70');
    background-position: center;
    background-size: 100% 100%;
    transition: background-size .3s ease;
}

.cards>div:nth-child(3)>div:nth-child(1){
    background: url('https://eep.io/images/yzco4xsimv0y/5xqzo6y8Z7anw9VQXJarpj/5f91182af7bf16ecc34b487a619d0a54/Desktop_Feature_Cards_3_Segmentation.jpeg?w=1260&fm=webp&q=70');
    background-position: center;
    background-size: 100% 100%;
    transition: background-size .3s ease;
}

.cards>div:nth-child(4)>div:nth-child(1){
    background: url('https://eep.io/images/yzco4xsimv0y/lsHRpmOI81ZcFS1Yld0Bs/1e2812587cd0f3089061bd4b513fd6d0/Desktop_Feature_Cards_4_Integrations.png?w=1260&fm=webp&q=70');
    background-position: center;
    background-size: 100% 100%;
    transition: background-size .3s ease;
}

.cards>div>div:nth-child(1):hover{
    background-size: 106% 106%;
}

.offer_box{
    padding: 80px 0px;
    background-color :rgb(246, 246, 244);
    color :rgb(0, 0, 0);
    display: block;
    font-family :"Graphik Web", "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;
    font-size :16px;
    height :1007.59px;
    line-height :21.6px;
    scroll-margin-top :124px;
    text-size-adjust :100%;
   
}

.offer_ad{
    width: 100%;
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.offer_ad h1, .offer_ad p{
    color :rgb(36, 28, 21);
    font-size :35.5889px;
    font-variant-ligatures :none;
    font-weight: 400;
    height: 35.5903px;
    letter-spacing: -0.5px;
    line-height :35.5889px;
}

.offer_ad span{
    text-decoration: underline;
    text-decoration-color: #ffe01b;
    text-decoration-thickness: 8px;
    text-underline-offset: 6px;
}

.offer_ad p {
    
    font-family :"Graphik Web", "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;
    font-size :16px;
    font-variant-ligatures :none;
    font-weight :400;
    height :16.0012px;
    letter-spacing: -0.5px;
    line-height :16px;
    margin-bottom: 16px;
    text-size-adjust :100%;
}

.plan_holder{
    margin: 0px 58.484px;
    margin-top: 80px;
    display: flex;
}

.plan_holder>div{
    border: 0.740741px solid  #bcbab8;
    border-right: 0.2px solid  #bcbab8;
    border-left: 0.2px solid  #bcbab8;
    color: rgb(0, 0, 0);
    font-family :"Graphik Web", "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;
    font-size: 16px;
    line-height: 21.6px;
    padding: 24px;
    padding-bottom: 14px;
    cursor: pointer;
    background-color: white;
    width: 263.165px;
}

.plan_holder>div:nth-child(1){
    border-left: 0.740741px solid  #bcbab8;
}
.plan_holder>div:nth-child(4){
    border-right:0.740741px solid  #bcbab8;
}

.title{
    font-family: Means Web,Georgia,Times,Times New Roman,serif;
    font-size: 20px;
    font-weight: 300;
    line-height: 27px;
}

.desc{
    margin-top:8px ;
    margin-bottom: 10px;
    color :rgba(36, 28, 21, 0.65);
    font-family: "Graphik Web", "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;
    font-size :13px;
    font-weight: 400;
    letter-spacing: 0.4px;
    height :48.9988px;
    line-height: 16.25px;
    text-size-adjust: 100%;
}

.plan_desc{
    color: rgb(0, 0, 0);
    cursor: pointer;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    font-family: "Graphik Web", "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;
    font-size: 16px;
    justify-content: center;
    line-height: 21.6px;
    margin-bottom: 8px;
    text-size-adjust: 100%;
}

.plan_desc p{
    color: rgb(36, 28, 21);
    font-size :13px;
    font-weight: 400;
    height :16.2442px;
    line-height: 16.25px;
}

.plan_desc>div:nth-child(1){
    color :rgb(36, 28, 21);
    font-family: "Means Web", Georgia, Times, "Times New Roman", serif;
    font-size: 26.6917px;
    font-variant-ligatures: none;
    font-weight: 400;
    height :35.9954px;
    letter-spacing: normal;
    line-height :36px;
}

s{
    color: rgba(36, 28, 21, 0.65);
    display :inline;
    font-size :24px;
    font-variant-ligatures :none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight :500;
    height: auto;
    letter-spacing :normal;
    line-height :36px;
    padding-right: 2.5px;
    text-decoration-color: rgba(36, 28, 21, 0.65);
    text-decoration-line: line-through;
    text-decoration-style: solid;
    text-decoration-thickness: 1px;
}

.check{
    color :rgb(36, 28, 21);
    display :flex;
    flex-wrap: nowrap;
    font-variant-ligatures :none;
    justify-content: flex-start;
    padding: 8.1px 0px;
}

.check h1{
    font-size :34px;
    font-weight: 400;
    height: 23.7963px;
    letter-spacing: -1px;
    line-height: 23.8px;
}

.check>div:nth-child(1) {
    font-size :12px;
    padding-right: 2px;
}

.check>div:nth-child(3) p{
    font-size: 18px;
}

.check+p{
    font-size: 13.8px;
}

.plan_holder ul{
    margin-top: 20px;
}

.plan_holder ul li{
    align-items: center;
    border-bottom-color: rgb(219, 217, 210);
    border-bottom-style :solid;
    border-bottom-width :0.740741px;
    display: flex;
    align-content: center;
    flex-wrap :wrap;
    font-family: "Graphik Web", "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;
    font-size :13px;
    line-height :20px;
    list-style-image :none;
    list-style-position: outside;
    list-style-type :none;
    padding: 30px 0px;
    padding-left: 30px;
    position :relative;
    text-align :left;
    text-decoration: underline;
    text-decoration-style: dashed;
    text-decoration-thickness: 0.9px ;
    text-underline-offset: 3px;
    }

    .plan_holder ul li.checkmark::before {
        content: ""; 
        position: absolute; 
        left: 5.2px; 
        top: 18.5px; 
        width: 5px;
        height: 14px;
        border: solid black;
        border-width: 0 2.5px 2.5px 0;
        transform: rotate(45deg);
      }

.plan_holder ul li.cross::before {
  content: "";
  position: absolute;
  height: 21px;
  border-left: 2.5px solid rgba(36, 28, 21, 0.3);
  transform: rotate(45deg);
  left: 5.2px; 
  top: 20px;  
}

.plan_holder ul li.cross::after {
  content: "";
  position: absolute;
  height: 21px;
  border-left: 2.5px solid rgba(36, 28, 21, 0.3);
  transform: rotate(-45deg);
  left: 5.2px; 
  top: 20px; 
}

#blur{
    color: rgba(36, 28, 21, 0.3);
    text-decoration: none;
    font-size: 14px;
}